
* {
    font-family: "Montserrat", sans-serif;
  }
  //ESTILOS HOME
  .navbar-brand {
    font-size: 20pt;
    font-weight: 800;
    color: $primary;
  
    &:focus {
      color: $primary;
    }
    &:hover {
      color: $primary;
    }
  }
  
  .nav-link {
    color: $secondary;
    font-size: 1.5rem;
  
    &:focus {
      color: $primary;
    }
    &:hover {
      color: $primary;
    }
  }
  
  .btn-home {
    @extend .btn;
    @extend .btn-primary;
    background-color: $primary;
    border-radius: 100px;
    padding: 0.25rem 2rem;
    border: none;
  }
  .text-page {
    @extend .col-md-6;
    @extend .col-11;
  
    margin: auto 2.2rem;
    color: $secondary;
  
    h1 {
      color: $primary;
      font-size: 32pt;
      font-weight: 800;
      margin: 0;
    }
    h3 {
      font-size: 20pt;
      margin-bottom: 2rem;
    }
    
  }
  .img-home{
    width: 100%;
    height: 100%;
  }