//Interface de navegacion de mensajes, etc.
.nav-menu {
    @extend .scroll-hide;
    height: 100vh;
    width: 393px;
  }
  
  //Barra lateral del chat
  .navbar-side {
    @extend .scroll-hide;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 4rem;
  
  }
  
/*=======================Bootstrap links custom=======================*/
  //Links del header en la pagina de inicio
  .nav-link {
    color: $secondary;
    font-size: 1.5rem;
  
    &:focus {
      color: $primary;
    }
    &:hover {
      color: $primary;
    }
  }