$third: #1F2C3F;

$facebook-color: #3b5998;
$google-color: #4285F4;

$bg-nav-search: #e6f0ff;

/*=======================Bootstrap links custom=======================*/
$primary: #FF43BB;
$secondary: #0D0A4C;